.card-dashboard-product {
    margin-bottom: 10px;

    .card-body {
        padding: 13px;

        .product-title {
            font-weight: normal;
            font-size: 18px;
            color: #0c0d36;
        }

        .product-category {
            font-size: 16px;
            line-height: 24px;
            color: #c5c5c5;
        }
    }
}